<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysArtistLabMapper">
    
    <resultMap type="SysArtistLab" id="SysArtistLabResult">
        <result property="id"    column="id"    />
        <result property="artistId"    column="artist_id"    />
        <result property="labId"    column="lab_id"    />
    </resultMap>

    <sql id="selectSysArtistLabVo">
        select id, artist_id, lab_id from sys_artist_lab
    </sql>

    <select id="selectSysArtistLabList" parameterType="SysArtistLab" resultMap="SysArtistLabResult">
        <include refid="selectSysArtistLabVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectSysArtistLabById" parameterType="Long" resultMap="SysArtistLabResult">
        <include refid="selectSysArtistLabVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysArtistLab" parameterType="SysArtistLab">
        insert into sys_artist_lab
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="artistId != null">artist_id,</if>
            <if test="labId != null">lab_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="artistId != null">#{artistId},</if>
            <if test="labId != null">#{labId},</if>
         </trim>
    </insert>

    <update id="updateSysArtistLab" parameterType="SysArtistLab">
        update sys_artist_lab
        <trim prefix="SET" suffixOverrides=",">
            <if test="artistId != null">artist_id = #{artistId},</if>
            <if test="labId != null">lab_id = #{labId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysArtistLabById" parameterType="Long">
        delete from sys_artist_lab where id = #{id}
    </delete>

    <delete id="deleteSysArtistLabByIds" parameterType="String">
        delete from sys_artist_lab where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSysArtistLabByArtistId" parameterType="Long">
        delete from sys_artist_lab where artistId = #{artist_id}
    </delete>

    <delete id="deleteSysArtistLabByArtistIds" parameterType="String">
        delete from sys_artist_lab where id in
        <foreach item="artistId" collection="array" open="(" separator="," close=")">
            #{artist_id}
        </foreach>
    </delete>
</mapper>